<script src="https://cdn.tailwindcss.com"></script>
<header>
  <nav class="bg-emerald-700 flex justify-between py-3 text-white shadow-emerald-800">
    <h2 class="px-4 py-2 font-extrabold font-mono text-2xl"><a href="/">FoodGasm</a></h2>
    <ul class="flex px-4 py-2 justify-end">
      
      <li class="mx-5 cursor-pointer hover:underline hover:underline-offset-1">
        <a href="/allblogs">Create/View Recipies</a>
      </li>
      
      </li>
    </ul>
  </nav>
</header>
