<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>FoodGasm</title>
  </head>
  <%- include("Partials/header.ejs") %>
  <body class="bg-emerald-700 text-white pb-8">
    <main class="hero bg-emerald-700 text-white pb-8">
      <div class="flex justify-around pt-10">
        <div class="text py-40 pl-20">
          <div>
            <hr class="mb-4 ">
            <h1 class="text-6xl font-mono font-extrabold">Bon Appetit</h1>
            <p class="w-3/4 pt-4">
                
              "Discover the joy of cooking with our curated recipes! From quick
              meals to gourmet dishes, find inspiration for every occasion and
              elevate your culinary journey today."
              <hr class="mt-4">
            </p>
            <div class="mt-5">
              <button
                class="rounded-2xl text-white py-2 px-3 border-2 border-white m-1 hover:bg-emerald-800"
              >
                <a href="/allBlogs">Create/View Recipies</a>
              </button>
            </div>
          </div>
        </div>
        <div class="py-10 mb-10 ">
          <img src="/Photos/food.jpg" alt="" class="rounded-s-full " />
        </div>
      </div>
    </main>
  </body>
  <%- include("Partials/footer.ejs") %>
</html>
